
<section class="d-flex dashboard flex-wrap justify-content-around align-items-center">
    <div><a [ngClass]="{'is-active': sub_style.videos === true, 'is-inactive':sub_style.videos === false, 'sub-btn':sub_style.videos === null}" routerLink="videos"><img width="100" src="../../assets/23.webp" alt=""></a></div>
    <div><a [ngClass]="{'is-active': sub_style.docs === true, 'is-inactive':sub_style.docs === false, 'sub-btn':sub_style.docs === null }" routerLink="docs"><img width="100" src="../../assets/doc.png" alt=""></a></div>
    <div><a [ngClass]="{'is-active': sub_style.quiz === true, 'is-inactive':sub_style.quiz === false, 'sub-btn':sub_style.quiz === null }" routerLink="quiz"><img width="100" src="../../assets/quize.png" alt=""></a></div>
</section>